* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}
/* reset css */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* begin code */

/* landing */

.landing {
  background-color: #fdded8;
  text-align: center;
  box-shadow: 0 4px 4px #999;
  position: relative;
  z-index: 2;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  color: #2b292d;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

/* .landing .button-group */
.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 48px;
  width: 140px;
  border-radius: 2px;
  color: #fff;
  background-color: #3040c4;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

.fill-button:hover {
  opacity: 0.5;
}

/* service */

.service {
  padding: 80px 0;
  color: #2b292d;
  background-color: #f4f5f7;
  position: relative;
  z-index: 1;
}

.service-title {
  font-size: 22px;
  line-height: 1.363636363636364;
  margin-bottom: 16px;
  letter-spacing: -0.04em;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

/* section */

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.section-title {
  color: #2b292d;
  font-size: 34px;
  line-height: 1.058823529411765;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}

.section-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

/* program */

.program .section-category {
  color: #009b4d;
}

.program .row:first-child {
  margin-bottom: 32px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0px;
}

.program-card {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 24px 0 32px;
  width: auto;
  max-width: 290px;
  transition: background-color 300ms ease-in-out, strong 500ms ease-in-out;
}

.program-card:hover {
  background-color: #3141c5;
  color: #ffffff;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
    0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card img {
  display: block;
  height: 195px;
  margin: 0 auto 16px;
  width: auto;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.333333333333333;
  letter-spacing: -0.02em;
}

/* curriculum */

.curriculum .section-category {
  color: #0189d1;
}

.curriculum-img {
  display: none;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum .fill-button {
  margin-bottom: 48px;
}

.curriculum-desc {
  font-size: 15px;
  line-height: 1.466666666666667;
  letter-spacing: -0.01em;
}
.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}
/* subscription */

.subscription {
  text-align: center;
  background-color: #f2f8fa;
  padding: 40px 0;
}

.subscription-image {
  padding: 25px;
}

.subscription-image img {
  display: block;
  width: auto;
  height: 190px;
  margin: 0 auto;
}
.subscription-title {
  color: #2b292d;
  font-size: 32px;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 16px;
}
.subscription-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.subscription .input-group input {
  background-color: #fff;
  color: #7b7b7e;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border-radius: 2px;
  border: none;
  margin-bottom: 8px;
}
.subscription .fill-button {
  width: 100%;
  border: none;
  margin-bottom: 8px;
}
.subscription-notice {
  color: #7b7b7e;
  font-size: 13px;
  line-height: 1.538461538461538;
}
.subscription-notice a {
  color: #3040c4;
  text-decoration: underline;
}

/* footer */

.footer-links {
  margin: 24px 0;
}
.footer-link {
  margin-bottom: 8px;
  color: #807f81;
  font-size: 14px;
  line-height: 1.714285714285714;
  letter-spacing: -0.01em;
}
.footer-link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  /* reset css */
  p {
    font-size: 22px;
    line-height: 1.454545454545455;
  }
  /* landing */

  .landing-content {
    padding: 120px 0;
    height: auto;
    /* auto로 지정하면 콘텐츠 자체의 높이만큼
    된다. 현재 안에 들어간 요소들과 패딩까지해서
    높이가 정해진 상태임 */
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.028571428571429;
    margin-bottom: 32px;
    letter-spacing: -0.05em;
    font-weight: 700;
  }
  .landing-desc {
    margin-bottom: 32px;
  }

  .fill-button {
    font-size: 18px;
    line-height: 1.555555555555556;
    width: 160px;
    height: 56px;
  }
  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* service */

  .service-title {
    font-size: 26px;
    line-height: 1.307692307692308;
  }
  .service .col-12:first-child {
    margin-bottom: 0px;
  }

  /* section */
  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.090909090909091;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  .section-desc {
    font-size: 22px;
    line-height: 1.454545454545455;
  }

  /* program */
  .program {
    text-align: center;
  }

  .program-card {
    max-width: 290px;
  }

  .program .col-md-4 {
    margin-bottom: 0px;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }
  /* curriculum */
  .curriculum-img {
    display: block;
  }

  .curriculum-img img {
    display: block;
    width: 100%;
    max-width: 425px;
  }

  .curriculum-desc {
    font-size: 18px;
    line-height: 1.444444444444444;
    margin-bottom: 0;
  }
  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .section-desc {
    margin-bottom: 72px;
  }

  .curriculum .fill-button {
    margin-bottom: 0;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  /* subscription */

  .subscription {
    text-align: left;
    padding: 80px 0;
  }
  .subscription-image {
    padding: 8px 0;
  }

  .subscription-image img {
    height: 258px;
    margin: 0;
  }
  .subscription-title {
    font-size: 40px;
  }
  .subscription-desc {
    font-size: 22px;
    line-height: 1.454545454545455;
    margin-bottom: 24px;
  }

  .subscription .input-group input {
    height: 56px;
    font-size: 18px;
    padding: 16px;
    border: none;
    margin-bottom: 0;
    margin-right: 8px;
  }
  .subscription .input-group {
    display: flex;
  }
  .subscription .fill-button {
    width: 160px;
    flex-shrink: 0;
  }
  .subscription-notice {
    color: #7b7b7e;
    font-size: 13px;
    line-height: 1.538461538461538;
  }
  .subscription-notice a {
    color: #3040c4;
    text-decoration: underline;
  }
  /* footer */
  .footer-links {
    display: flex;

    margin: 16px 0;
  }
  .footer-link {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .footer-link:last-child {
    margin-right: 0;
  }
}

/*custopm gird system fix container width*/
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
