* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS with bug*/

.clearfix::after {
  display: block;
  clear: left;
  content: "";
}

.user-photo {
  float: left;
  position: relative;
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.user-photo img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.user-name {
  display: block;
  padding: 8px 0;
  height: auto;
}

.user-card {
  width: 240px;
  height: 56px;
  border-radius: 4px;
  border: 1px solid #e5eaef;
  padding: 8px 12px;
}

.user-status {
  right: 0px;
  bottom: 0px;
  height: 14px;
  width: 14px;
  border: solid 2px white;
  display: block;
  position: absolute;
  background-color: greenyellow;
  border-radius: 50%;
}
